body {
  all: unset;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 39.06px;
  color: $color-main;
}

h2 {
  font-size: 31.25px;
  color: $color-sec;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

a {
  all: unset;
  color: $color-main;
  font-size: 20px;


  &:hover {
    all: unset;
    color: $color-sec;
  }
}
