<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/75j_bL4BhU0);">
  <div class="container">
    <h1>Your personal cocktail manager.</h1></br>
    <h3>Find. Create. Save.</h3></br>
    <%= link_to "Find your cocktail", "#cocktail-list", class: "btn-base btn-main mb-2 mr-2", style: "display: inline-block" %>
    <%= link_to "Create your own cocktail", new_cocktail_path, class: "btn-base btn-ghost", style: "display: inline-block" %>
  </div>
</div>

<div class="container mt-4">

  <!-- list of cocktails -->
  <h2 id="cocktail-list">Which is your cocktail tonight?</h2>
  <%= render 'layouts/cocktail-list' %>
</div>
