<!-- banner -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/75j_bL4BhU0);">
  <div class="container">
    <h1>Your personal cocktail manager.</h1></br>
    <h3>Find. Create. Save.</h3></br>
    <a class="btn-base btn-main" href="#cocktail-list">Find your cocktail</a>
  </div>
</div>

<div class="container mt-4">

  <!-- list of cocktails -->
  <h2 id="cocktail-list">Which is your cocktail tonight?</h2>
  <%= render 'layouts/cocktail-list' %>
</div>
