.btn-base {
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;

  &:hover {
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
  }
}

.btn-main {
  background-color: $color-main;
  color: $light-gray;

  &:hover {
    background-color: $color-main;
    color: $color-background;
  }
}

.btn-ghost {
  border: 1px solid;
  background-color: none;
  color: $color-main;

  &:hover {
    border: 1px solid;
    background-color: $color-background;
    color: $color-main;
  }
}
