.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-links a {
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer .fa-heart {
  color: #D23333;
}


// Responsiveness

@media(max-width: 458px) {
  .footer {
    display: grid;
    grid-template-column: 1fr;
    justify-content: center;
  }
}
