.form-base {
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  max-width: 450px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.form-links a {
  color: $color-main;
  font-weight: lighter;
}

.form-control {
  border-radius: 50px;
}

.form-button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error_message {
  color: red;
  text-decoration: underline;
  font-weight: 100;
}

.form-base p {
  font-weight: 400;
  margin-top: 50px;
}
